[2020-06-17 14:24] imsnif opened #1 "Feature: Zoom in"
At the moment, when a folder has files too small to render ("Small Files") they appear as white "x"s and we can't find out what's inside.

This feature would allow the user to zoom in and out by pressing `+` and `-`. Doing so should change the display of the current folder, removing larger files and giving room for smaller files to appear.

A visual indication of this should also appear in the tit

[2020-06-17 14:26] imsnif opened #2 "Bug: when resizing the window (pane) in tmux, the app stays small"
diskonaut uses the "SIGWINCH" event to detect when it should resize itself. For some reason this does not happen inside a tmux pane.

To reproduce:
1. Start tmux
2. Split the screen (either vertically or horizontally) and try to resize.
3. See that the app stays the same size

[2020-06-17 14:31] imsnif opened #3 "Feature: show time of last scan"
`diskonaut` preserves the state of the filesystem as it was when it scanned it. If the filesystem changes while the app is running (eg. someone downloads a file into the folder `diskonaut` previously scanned), it will not be updated.

This feature would mean adding the timestamp of the scan to the title line on the right side.

This might cause trouble with our tests (since they are snapshot tests

[2020-06-17 14:33] imsnif opened #4 "Feature: Live View"
`diskonaut` does not re-scan the hard-drive once it is done. If the files change, it does not know about it.

It would be cool if it could listen to the folders it scanned for changes and update itself. Whatever method we choose to implement it, let's make sure not to take up too many resources (CPU mostly) on the host machine.

[2020-06-17 14:36] imsnif opened #5 "Feature: exit to current directory"
When `diskonaut` exits, it returns the user to the folder they were in when they started.

It would be nice if instead of doing that, it would change the user's working directory to the directory they are currently in with diskonaut.

[2020-06-17 14:37] imsnif opened #6 "Feature: transactional delete"
This feature would allow the user to do a "soft delete". Meaning they would mark a file for deletion, it would disappear from the UI but will not actually be deleted from the filesystem.

When the user exits the app, the app should give a list of these files marked for deletion and ask the user if they want to delete them.

Optionally, a "delete marked files" shortcut can also be added.

[2020-06-17 14:40] imsnif opened #7 "Feature: preview mode"
Before entering a folder, the user would be able to press "p" in order to see a preview of the folder.

This preview would appear on the folder's tile itself instead of the folder name and size, and would contain a nested map of the folder itself. The user would not be able to select any of the rectangles within though - for that they would have to press "ENTER" as usual and enter it.

[2020-06-17 14:42] imsnif opened #8 "Feature: jump to first folder with content"
Sometimes if there is only one (renderable) tile inside a folder, it can be a little annoying to manually enter all the folders until we get to a folder with some "interesting" content (eg. more than one file :) ).

If we have such a situation, it would be cool if we would just jump to the first interesting folder.

[2020-06-17 14:43] imsnif opened #9 "Feature: rescan folder command"
When pressing "r", the app should prompt the user with an "Are you sure?" modal, and then rescan the entire folder. This is good in case the contents of the folder have changed since the app was open and we don't want to exit the app and enter it again.

[2020-06-17 14:45] imsnif opened #10 "Feature: color scheme for white terminals"
Right now, `diskonaut` doesn't look very nice on white terminals. It would be nice to add some other color schemes. Ideally allowing the user to both provide a command line flag (something like `--colorscheme white`) and to change it while the app is running (to be able to better judge what works best for them).

[2020-06-17 14:51] imsnif opened #11 "Bug: when deleting a folder that contains a file we can't delete, we get an uninformative message"
To reproduce:
1. Create folder `/path_to_my/folder`
2. Create nested_folder `/path_to_my/folder/nested_folder`
3. Create a file inside nested_folder `/path_to_my_folder/folder/nested_folder/file.txt`
4. Change the permissions of `nested_folder` to be read only.
5. Start diskonaut and give it `/path_to_my` as its path (`diskonaut /path_to_my`).
6. Try to delete folder.
7. See that we get an uninfor

[2020-06-17 14:53] imsnif opened #12 "Platform: windows port"
There are two main things I know of that we need to do to port `diskonaut` to work on windows:

1. Currently we rely on hard disk blocks to scan the hard-drive. As far as I know, this does not work on windows, and so we need to find another solution.
2. Termion doesn't(?) work on windows, so we would need to use another backend for TUI.

I am VERY interested in a solution for this. If you want to

[2020-06-17 14:54] imsnif opened #13 "Feature: Show "failed to read" title indication for the current folder as well as the global one"
Right now, if we fail to read files (eg. because we got a "permission denied" error), we only show their count globally. It would be great if we could also in addition show them for the current folder (if there are any).

[2020-06-17 14:55] imsnif opened #14 "Feature: when running as root, show a visual indication"
Running as root can be dangerous, since we have permission to delete a lot of things we might not want to. It would be nice if we had a visual indication in the title that we're "running as root'.

[2020-06-17 14:56] imsnif opened #15 "Feature: only show "(x = Small files)" legend when there are small files on the screen"
Otherwise it might be a little confusing...

[2020-06-17 14:57] imsnif opened #16 "Feature: add an "Are you sure you want to quit?" modal"
Right now, when we press "Ctrl-C" or "q" to exit, the app exits immediately. It would be nice if we could add a modal that prompts the user in case they pressed this by mistake.

[2020-06-17 14:58] imsnif opened #17 "Add to homebrew"
So that users can install diskonaut with brew.

[2020-06-17 14:59] imsnif opened #18 "Feature: error reporting with clean stacktraces"
Right now, if the app panics, the stacktrace we see is very much messed up and hard to read, since the terminal is in "raw mode". It would be nice if we could catch all these errors, clear the terminal, exit raw mode and then print them to the screen.

[2020-06-17 15:00] imsnif opened #19 "Add to linux distribution repositories"
Would be great to add diskonaut to all repositories who want it. I'm not listing them here because there are quite a few of them. :)

[2020-06-17 15:23] imsnif opened #20 "Performance"
Scanning large volumes with `diskonaut` takes some time. Not terrible (likely less than 10 minutes for really populated volumes) but this is still not the best experience.

It could be nice to experiment with scanning parallelization, as long as it does not impact performance. I feel a slow scan is better than a fast scan that makes your computer stuck and unable to do anything else.

[2020-06-17 16:44] zicklag opened #21 "This is Awesome"
Hey there, sorry to leave an issue just to say good job, but I figured it'd be worth it. :wink:

Anyway, this is the best disk usage analyzer I've ever seen. I've tried out a few different ones, GUI or TUI based, and maybe I haven't searched super hard, but this one beats all the ones I've tried for one big reason: It lets you look around *while the tool is working*.

That's amazing for UX, and th

[2020-06-17 19:28] jansegre opened #23 "Option to stay within the same filesystem"
Like `du`'s `-x` option: `File system mount points are not traversed.`. This would be useful for scanning `/` and ignoring external drives.

[2020-06-17 19:33] jansegre opened #24 "Option to include free disk space"
This may only make sense when scanning whole mounts, but it would be nice to have a visual feedback no how much free space there is. It could start as something as simples as a special node/branch that accounts for what `df` would returnn on the given path. Like `diskonaut /foo/bar` would include a special colored "free space" with the size of `df /foo/bar`.

[2020-06-17 22:39] Byron commented on #20
I am the author of [dua](https://lib.rs/crates/dua-cli) and all I had to do for maximum performance is to use [jwalk](https://lib.rs/crates/jwalk) instead of walkdir. This completely hides away the parallelism behind an iterator of directory entries. What's even nicer is that a closure can run _on the thread_ to obtain, say, `metadata()`.

[2020-06-17 22:42] Byron commented on #23
Here is an example on [how `dua` does it](https://github.com/Byron/dua-cli/blob/3884ea66d74a0a04beb24e7c12144ac8245d4b95/src/crossdev.rs#L1-L0) and how this knowledge is used to [filter entries](https://github.com/Byron/dua-cli/blob/9156cf7cac8f91a496f7383940f3ce6140ffe54c/src/aggregate.rs#L40).

Maybe this helps to get the functionality faster.

On a side-note, there is also examples about how to

[2020-06-17 22:57] Freaky commented on #12
I made [filesize](https://crates.io/crates/filesize) as a cross-platform way of getting the size of objects on disk.

Termion looks to be [getting there](https://gitlab.redox-os.org/redox-os/termion/-/merge_requests/151).

[2020-06-17 23:02] zicklag commented on #24
I don't think so. I was just specifically using this tool to free up space on a drive that had run out of space, so knowing when I have freed enough to make me comfortable, without having to leave the tool and `df -h` would be nice.

It's a great idea.

[2020-06-18 01:35] dbramucci opened #26 "Feature: Support for Filesystem Compression (e.g. NTFS, BTRFS, ...)"
When running diskonaut on a BTRFS filesystem with compression enabled, it shows the uncompressed space used by folders and files, not the actual disk-space used.

One folder of mine using 69.5G of storage, but if I delete this folder I would not regain 69.5G worth of disk space because that folder is being compressed instead I would only regain 50G of space which represents the actual space used o

[2020-06-18 02:48] dbramucci opened #27 "Feature: Detect hard links"
Running the following commands

[code]

Will produce a 600 KiB file `sherlock.txt` and a hard link `sherlock-link.txt`.
`diskonaut` currently detects these 2 as different files but deleting either file will not free any disk space (beyond a little metadata).
This is similar to the problem of issue #26 where the expectation of xG of deleted data = xG of more usable space proves incorrect.

This pro

[2020-06-18 03:27] JosephTLyons commented on #20
What sort of performance boosts did you see from using jwalk? I’m a contributor on a project that is facing a similar situation of wanting to switch to jwalk.

[2020-06-18 03:30] Byron commented on #20
I think you can try it yourself by using `dua -t1` to limit it to a single thread, compared to `dua` that runs on as many threads as you have logical cores. For me it's between 3-4 times faster.

[2020-06-18 04:03] Freaky commented on #26
It appears to be doing the right thing:

https://github.com/imsnif/diskonaut/blob/f19a4f5a1d64349ab2bc28946295caaf3dc3c75e/src/state/files/file_or_folder.rs#L61

And indeed it's correctly reporting the size of compressed files on ZFS.

[2020-06-18 09:06] imsnif commented on #20
Thanks for your input @Byron, jwalk looks really cool. I especially liked that it lets you limit parallelism: https://docs.rs/jwalk/0.5.1/jwalk/enum.Parallelism.html

My main concern here is to have it not take a lot of resources. Have you run into such issues with dua? (which looks really cool, btw)

[2020-06-18 09:11] imsnif commented on #12
Hey @Freaky, I saw your PR and will take a look at it shortly regarding filesize. Thanks for this!

Since diskonaut uses tui-rs, I think we can definitely switch the backend to crossterm or something that supports windows with a conditional compilation flag. So even if it takes a while for that Termion issue to be merged, I think we can still go forward with this.

[2020-06-18 09:13] imsnif commented on #21
Thank you for the kind words, @zicklag! I put a lot of thought into diskonaut's UX and am really happy you like it. :)

I'm going to close this issue though. I hope you don't mind. If you have any other input about the app, please feel free to open an issue.

[2020-06-18 09:13] #21 closed

[2020-06-18 09:13] Byron commented on #20
The resources required to do things in parallel via jwalk are certainly dominated by the stacksize of each thread. It varies between operating systems, but is usually 512KB large at least. If this is an issue, the program will probably run out of space due to other factors first.

[2020-06-18 09:17] imsnif commented on #23
That's something I must admit I did not consider, and it is a very good point. I think adding it as a command line flag (-x in order to mirror du's functionality sounds good) would be a great feature.

[2020-06-18 09:23] imsnif commented on #24
I like this idea. I can't imagine how we can have a visual "graphical" representation of free space in anything except scanning a whole drive. After all, the free space if in the drive, not in a particular folder. Otherwise I'd think we would have a "free space" tile in every folder, having it mostly blot out the contents of smaller folders.

How about if we include it as part of the title line? R

[2020-06-18 09:30] imsnif commented on #26
@dbramucci - thank you very much for this very detailed issue!!
And thanks @Freaky for weighing in.

My understanding was also that the `blocks * 512` should solve this. So @dbramucci, do you think this is particular to BTRFS? Could there be another reason for this? Or?

[2020-06-18 09:46] imsnif commented on #27
Very true. I've actually been bothered by this issue but didn't get around to deal with it. Thanks for bringing it up!

IMO the best solution would be something where we don't have to assume whether the hard links come from within the scanned folder or without (I feel that might make things complicated and create some edge cases we might not have considered).

What do you think of: giving a UI ind

[2020-06-18 09:49] imsnif commented on #20
That sounds very reasonable, actually. I'll experiment with jwalk in the next few days and report my findings. Thanks again for your input!

[2020-06-18 13:58] imsnif commented on #12
So to update this issue: thanks to @Freaky, 1 has been taken care of. We are left with 2.

[2020-06-18 14:26] zicklag commented on #24
That sounds perfect.

[2020-06-18 22:57] u5surf commented on #11
@imsnif

Is this deleting folder `path_to_my` or `nested_folder`
I prefer the message that you can figure out which folder can’t you delete.Although, current implementation is not able to delete  the folder and its nested folders one by one recursively. Thus it difficult to indicate which is not permitted folder

[2020-06-19 00:34] jansegre commented on #24
That's exactly what `df` does. If the given path is not a drive/filesystem it tries to figure out what drive/filesystem the file is from. From the manual:

[code]

[2020-06-19 02:52] dbramucci commented on #26
@imsnif It might be particular to BTRFS or extent based filesystems in general. I'll have to try out NTFS later to test another compression supporting, block based filesystem.

Every accurate disk space utility I've seen for BTRFS so far requires `sudo` to run.
Which indicates something special goes on with BTRFS.

Looking at the [manpage for `btrfs-filesystem`](https://btrfs.wiki.kernel.org/index

[2020-06-19 04:30] dbramucci commented on #27
If I recall correctly,

1. Detecting if a hard-link exists should be cheap

    Just check if the reference count is greater than 1.
2. Finding all files among a collection that are hard links to each other is manageable

    Almost O(n) see Union-Find/Disjoin-Set over the inode ids)

3. Finding all hardlinks to a file can be very expensive because you may need to traverse the entire filesystem to

[2020-06-19 04:40] dbramucci commented on #24
Would it make sense to add a (optional?) ui element indicating where you would be if you deleted a folder?
Something like

[code]

That way users could avoid mental math and the rounding error from the displayed numbers would matter less.

[2020-06-19 05:45] Freaky commented on #26
https://btrfs.wiki.kernel.org/index.php/Compression#Why_does_not_du_report_the_compressed_size.3F

There is a [fiemap crate](https://crates.io/crates/fiemap), in principle I could tie it into [`filesize`](https://crates.io/crates/filesize), but it would be behind an off-by-default feature flag, because it's both complex and looks eyewateringly slow.

Added as [issue #1](https://github.com/Freaky/r

[2020-06-19 10:07] imsnif opened #32 "Feature: when trying to delete something while scanning, show a descriptive error message"
When we're still scanning, we don't want to let the user delete anything. Both for safety reasons (because things might be jumping around quite a little), and so that they can make an informed decision.

We do not give any indication for this though (only the key missing from the legend). It would be nice to have a modal appear when the user tries to delete in this mode. Something that would read

[2020-06-19 10:44] palfrey commented on #4
Alternately, a "update this folder" item? Maybe also if a delete fails due to something not existing that updates? I think there's a number of things that could solve a lot of the headaches of non-live without needing all the overheads of a full live view.

[2020-06-19 11:37] imsnif opened #33 "Fix: Show quit shortcut ('q') in the legend"
In order to quit the app, we use 'q' or 'ctrl-c'. It should also appear in the legend on the bottom line near the other controls.

[2020-06-19 11:49] imsnif commented on #4
I agree completely, @palfrey. I didn't investigate this very thoroughly, but I also think a live view will likely be quite challenging both to develop and maintain (especially cross platform). I opened this issue mostly in case someone comes up with a trivial way of doing this.

I think I was thinking along similar lines as your suggestion. My general idea was:
1. Start by displaying the last scan

[2020-06-19 11:51] imsnif commented on #6
Color coding it is interesting... how would you go about color coding all the parent folders though?

[2020-06-19 11:54] imsnif commented on #11
I agree @u5surf. We'll have to implement a recursive delete of our own and catch these errors in order to do this. I would also definitely like to have the error showing the folder that failed and not its parent.

[2020-06-19 11:59] imsnif commented on #24
@dbramucci - I really like that idea. The realestate in the title is a little scarce though. Would you like to open a separate issue to discuss the details?

[2020-06-19 12:03] imsnif commented on #26
@dbramucci - it seems to me the discussion brought us to the issue @Freaky opened in `filesize`. I think we can close this and address it upstream... or am I forgetting/missing something?

[2020-06-19 12:45] imsnif commented on #27
Hey @dbramucci - thanks again for the super detailed explanation. I think I understand your concerns better now.
I'm a little hesitant to go forward with the algorithm you mentioned, but maybe it's because there are some cases I haven't considered. So I'll ask it this way:

If an inode is a unique global identifier of a hard-link (as in: "I am a hard link if the inode of the file I point to has mo

[2020-06-19 14:43] dbramucci commented on #27
Just to make sure that we aren't talking past each-other over a misconception

To my understanding, when you make a hard link from `a` to `b`, you can no longer identify which is the "original" file and which is "just a link".
As far as the file system is concerned, they are both equal files.
The is different from symlinks where it is clear that `a` is a symlink and `b` is a file.

This means that

[2020-06-19 14:50] dbramucci commented on #26
Seems good to me, the only question remaining would be if a UI for virtual vs physical filesizes would be supported but I think that can be it's own issue and should be guided by some user stories.

[2020-06-19 15:10] imsnif commented on #27
Okay, that is actually a misconception that I've had. Thank you for clearing this up, I think now I understand where you're coming from.

Before talking about the algorithm and its implementation, how would you think it best to present this to the user in a simple and immediately comprehensible way? Like with the D1+D2 example, what would you do? (I think you mentioned the lower/higher bound appro

[2020-06-19 15:16] imsnif commented on #26
For sure. It sounds like an interesting feature, would be happy to look further into it when we know more and/or feel the need.

[2020-06-19 15:16] #26 closed

[2020-06-19 16:05] dbramucci commented on #27
Given that the current behavior of diskonaut is to start by assuming a file is empty and growing until it reaches the full size and the most likely use-case for diskonaut is to free space on a drive I believe the most natural extension is to start by assuming all hard links would free no space (i.e. they are effectively 0 bytes) and we just track how many we see.

As we loop through the directory,

[2020-06-19 16:09] dbramucci commented on #27
As an aside, it would be nice if there was some good way to show that `D1` and  `D2` together cover all hard links to some inode but it is hard to think of a clean ui for that.
Likewise, it would be nice (but much less important) to see that `D1` and `D2` share any hard links in common at all and nice to see the trivial (and probably rare) case of hard linked files in the same directory illustrate

[2020-06-19 16:09] qballer commented on #6
One color for the actual files and folders to delete (red?) and color code with another the folders impacted up the tree (purple?)

[2020-06-19 19:09] ebroto opened #36 "Feature: emacs keys"
It would be nice if diskonaut supported emacs keys for navigation.

Those keys would be:
left  -> Ctrl + b
right -> Ctrl + f
up    -> Ctrl + p
down  -> Ctrl + n

I think it's not necessary to show that those are supported in the legend as they are kinda common in TUIs and assumed to "just work" because of being supported by GNU Readline.

[2020-06-20 12:43] deathtrip opened #37 "auto select single folder"
When you enter a folder and there's only one subfolder, it makes sense to automatically select it.
Maybe also consider auto selecting the biggest folder if there are many subfolders.
Because currently it takes an extra button press to select anything.

[2020-06-20 23:03] olehs0 commented on #33
Hi @imsnif ! It's a really great project, thank you for it. About the issue, should it looks like something like this?
![image](https://user-images.githubusercontent.com/45392385/85213163-548ecb80-b363-11ea-9ce1-4a01c3ffb455.png)

[2020-06-21 13:34] imsnif commented on #6
I think we can start with a transactional delete and then see where the usability takes us regarding colors and such.

[2020-06-21 13:38] imsnif commented on #20
I moved diskonaut to use jwalk instead of walkdir (https://github.com/imsnif/diskonaut/pull/38). For me it didn't shave off as much time (it was about 20% faster for a full scan if `/`), but I suppose it has a lot to do with caching and hardware differences.
In any case, I'm not seeing any performance hits or resource over-utilization. Very happy with the results. Thanks for the tip, @Byron!

[2020-06-21 13:38] #20 closed

[2020-06-21 13:45] imsnif commented on #33
Hey @olehs0, glad to see you here. :) I'm happy you like diskonaut.

Let's have just `<q> - quit` in the bottom line for now. It's getting a little big and I want to trim it down a little bit (especially once we implement this: https://github.com/imsnif/diskonaut/issues/36)

[2020-06-21 13:51] imsnif commented on #36
Thanks for pointing that out! As an eVIl user myself, I was actually not aware of them. Let's add them, definitely. I think part of this fix would be to change navigation part of the legend to this:

`< ← ↓ ↑ → > - move around`

Then have all arrows/vim/emacs/etc. keys work. What do you think?

[2020-06-21 13:58] imsnif commented on #37
Hmm... I understand what you're saying, but I'm a little concerned about auto-selection for first-time users who don't yet "get" what the marked tile is. (If it appears because you did something as a user, I think you would immediately understand what it's for).

What would you think of instead of this, when going into a folder that just has 1 tile, we would automatically go into that tile's folde

[2020-06-21 14:11] ebroto commented on #36
Works for me! :+1:

[2020-06-21 14:14] imsnif commented on #27
I'm going to suggest some ideas for the UI first, because I feel once we know what we'd like to show the user, it would be easier for us to think how to do it, and thus know what we should implement and what we won't be needing. At least, that's how it's easiest for me to work. :)

So regarding UI:
How about something like this (again, rough sketch):
[code]
And then have the legend only appear if

[2020-06-21 14:39] mhdmhsni commented on #16
hi @imsnif would you mind if i work on this?

[2020-06-21 14:46] imsnif commented on #16
Sure :) Feel free to reach out if you have questions or need anything.

[2020-06-21 15:14] mhdmhsni commented on #16
thanks! :)
please feel free to correct me if I'm wrong. so far I've figured out that i should define a new file inside modals folder, something like confirm_box and i need a new UiMode variant let's call it Quit. i need a new handler function which will be used to handle KeyPress event while the modal has been rendered and the rendering logic if I'm right is something similar to showing a message

[2020-06-21 15:20] imsnif commented on #16
Sounds about right, good job!
The only hitch I can think of is that we might need need some sort of "mixed" UiState in case we're quitting while the app is still loading. Do you think you can find a solution for this? (let me know if you want help brainstorming)

[2020-06-21 15:51] deathtrip commented on #37
Going directly to a folder with more than one rectangle could also confuse some users.

Maybe then a command line switch or config file entry, so you could control both options.
You could for example have diskonaut select the biggest tile when there are many, and if there's only one, go down the folder hierarchy.

[2020-06-21 16:34] mhdmhsni commented on #16
well, so far, the core functionality of the confirm modal works fine (using both 'q' and 'Ctrl+c'), just needs some polishing and code cleaning.

![Peek 2020-06-21 20-47](https://user-images.githubusercontent.com/21965688/85229780-0f20db80-b401-11ea-9c58-c3b635e67bde.gif)

but about the hitch you mentioned, i need to dive deeper into the code.
I'll inform you in case of anything. thanks again.

[2020-06-22 08:11] rory opened #41 "New feature: delete key to delete"
Currently one presse `Control-D` to delete an entry. My first thought was to press the `Delete` key! I suggest making `Delete` also work to delete

[2020-06-22 13:44] Byron commented on #20
Interesting! Assuming you are on an SSD and/or have enough RAM to allow the OS to fully cache the filesystem traversal after the first run, I would have expected way more than 20% of speedup.

This might hint at diskonaut to be CPU bound right now, and the processing of filesystem entries doesn't quite keep up with the parallel iterator.

Something that has potential for big speedups is to [put th

[2020-06-22 13:45] Byron commented on #20
Ah, and I just now read the edit - nonetheless, there might be additional speedup potential when fetching metadata using jwalk client state.

[2020-06-22 15:56] redzic opened #42 "Different results from running the tests locally"
Previously discussed in #40

When I run the tests locally with `cargo test` on the `main` branch, I get very different results each time. Sometimes all the tests pass (which is somewhat rare), sometimes most of them fail.

Terminal screen capture:
https://asciinema.org/a/MGtehVJYHt76Pq1DTDQyRxv2J

Raw output captured by `script`:
[output.txt](https://github.com/imsnif/diskonaut/files/4813837/outpu

[2020-06-22 16:23] mhdmhsni commented on #16
Hi, about the "mixing" UiState issue, i found this solution:

i changed "Exiting(String)" UiMode variant to "Exiting { message, app_loaded }" where app_loaded contains a reference of latest value of the "app.loaded" variable.
This way, the Display module can decide what it has to render on ExitingMode. and also my "handle_keypress_exiting_mode" function can decide where to go back if user decides

[2020-06-22 17:03] imsnif commented on #16
That sounds like a great solution. We'll have to test it in various situations to make sure it's okay, but I can't think of anything you missed.

[2020-06-22 17:05] imsnif commented on #37
I usually like avoiding command line switches to control behaviour unless it's an extreme circumstance (eg. text-only mode or something like that).

How about if we add a "hidden" feature, wherein if you press "ENTER" and nothing is selected, the app goes into the largest folder?

[2020-06-22 17:09] imsnif commented on #41
This makes a lot of sense to me. I also received some complaints about ctrl-d elsewhere. I mostly wanted to avoid the "cat walking in the keyboard" situation by requiring the extra ctrl, but I guess with the modal prompt one key is totally reasonable.

Thanks for pointing this out!

Let's change ctrl-d to the `Delete` key, and also change the controls line legend accordingly.

[2020-06-22 17:14] imsnif commented on #42
So just to reiterate: this does not happen to me and does not happen in our CI.
I have a guess as to what's causing this. @redzic, could you try changing this line: https://github.com/imsnif/diskonaut/blob/main/src/main.rs#L147
to `.parallelism(::jwalk::Parallelism::Serial)` and seeing if it solves the issue for you?

If it doesn't, could you try and see if you can get the tests to fail by running

[2020-06-22 17:39] #36 closed

[2020-06-22 17:42] redzic commented on #42
Wow... changing that line resolves the issue for me. All 37 tests pass now every single time.
I wonder why the multi-threaded version works on other machines but not mine.

[2020-06-22 17:47] imsnif commented on #42
Aha! That's great news.
I can't completely explain why this is happening. This was kind of a gut feeling. I'd like to add conditional compilation for this (to make it be serial for tests and the way it is now for not-tests). Would you like to work on this, @redzic or shall I?

[2020-06-22 17:59] redzic commented on #42
I think I'd like to work on this, but I'm not too familiar with conditional compilation.

Looking at the docs, it seems like I would need to do something like this:
[code]
Does that look right? Perhaps I could import both `Serial` and `RayonDefaultPool` so that they look the same.

[2020-06-22 18:27] redzic commented on #42
Actually, it seems like you already do this in the code by having bools that change depending on `cfg` attributes. I think I'll just follow that pattern instead and open a PR.

[2020-06-23 11:57] deathtrip commented on #37
Seems like a good idea.

[2020-06-23 13:58] #42 closed

[2020-06-24 13:28] dbramucci commented on #27
Some things to be aware of with any attempt to graphically represent hard links will have to deal with the issue that the standard mindset used to represent filesystems is that the filesystem is a tree where hard links change the filesystem into a type of non-tree directed acyclic graph.
This means that most methods of visualizing trees will necessarily drop information about the hard links and I

[2020-06-24 13:34] dbramucci commented on #27
A handy capability would be to highlight a hard link and press some key (say `?`) to list off all locations that link to that same file.

That way you could highlight ``sherlock.txt`, press `?` and see

[code]

Likewise, there are analogous popups that could be designed for folders containing hard links.

[2020-06-24 14:19] dbramucci commented on #27
I'm trying to find the right terminology to distinguish between

* Inodes (i.e. any element in the filesystem)
* Directories
* Files including hard links
* Hard links
* Files excluding hard links

once I have figured out some terminology I can describe what we are looking at in terms of graph theory and some relevant terminology that can be googled for finding similar situations, algorithms and vi

[2020-06-25 10:27] #37 closed

[2020-06-25 13:01] therealprof opened #48 "Feature: When going back to parent, automatically select the folder we came from"
It would be great to have a feature which would allow us to automatically re-select the parent folder when going one level up instead of removing the selection and having to start over with the navigation.

[2020-06-25 13:04] therealprof opened #49 "Feature: Hide items from the view"
It would be super to have a feature which would allow me to hide selected folders from the view. Especially with Rust projects there's usually a huge `target` directory completely swamping out everything else.

[2020-06-25 17:50] danieldk opened #50 "Tests fail because diskonaut reports incorrect file sizes on filesystems with compression"
On my machine and several CI builders, diskonaut tests fail. The problem is that the `rust-filesize` uses `MetadataExt::blocks` to get the number of file blocks:

https://github.com/Freaky/rust-filesize/blob/e8042c00cebd215ac9f106e8b5a20b0c072fd77d/src/lib.rs#L72

However, this method is not reliable. For example:

[code]

So, this will be reported as a 512 byte file(!), even though it is 1MiB. Th

[2020-06-25 19:35] maxheyer commented on #41
@imsnif I will give it a try

[2020-06-25 19:42] imsnif commented on #50
Thanks for reporting this @danieldk! @Freaky, I think we briefly touched on this before. Do you think there is a workaround for this?

[2020-06-25 21:15] evanjs commented on #50
Ah, that makes way more sense.  F2FS here, also failing.
Assuming @iblech was on ext4 or similar (re https://github.com/NixOS/nixpkgs/pull/91460#issuecomment-649329148)

[2020-06-25 22:27] pizzafox opened #52 "thread 'main' panicked at 'index out of bounds: the len is 3600 but the index is 3600"
[code]

[![asciicast](https://asciinema.org/a/ZEbCIVGa1Z7qmErj3hmXVFuNB.svg)](https://asciinema.org/a/ZEbCIVGa1Z7qmErj3hmXVFuNB)

Running in WSL 2 with `rustc` 1.43.0 (`4fb7144ed` 2020-04-20).

[2020-06-26 05:56] danieldk commented on #50
Did you consider usig `Metadata::len`?

Of course, it depends on the goal, is diskonaut's goal to report the file sizes or what they use on disk (e.g. after compression)? I would guess the former, though I can see why the latter would be useful.

[2020-06-26 06:22] imsnif commented on #52
Hey @pizzafox, sorry for this experience and thanks for reporting this. Mind helping me out with some questions to debug this?
Does this happen for every folder you scan? Does the behaviour change if you change the terminal window size? (as in, does it crash earlier, later or not at all with a smaller terminal window?)
In the folder you scan, do you happen to have folder/file names with non-latin

[2020-06-26 06:24] imsnif commented on #48
I really like this idea. Let's do it.

Would you like to work on this, @therealprof ?

[2020-06-26 06:26] imsnif commented on #49
I definitely agree this is an issue. I was planning on addressing this through: https://github.com/imsnif/diskonaut/issues/1
(see especially my edit there from now).

What do you think?

[2020-06-26 06:46] imsnif commented on #50
Hey @danieldk, I see diskonaut as primarily a tool that helps you clear space up on the hard-drive. Which is why I opted to show how much space it takes up on the hard-drive (also, for compatibility with tools such as du which do the same).

As I understood from a discussion we had here: https://github.com/imsnif/diskonaut/issues/26, finding out the compressed file size on disk for filesystems wit

[2020-06-26 06:52] therealprof commented on #49
#1 would potentially do the trick for me, but I have a feeling that is going to be quite a bit trickier to implement. 😅

[2020-06-26 07:56] therealprof commented on #48
Done.

[2020-06-26 07:56] danieldk commented on #50
Currently it only results in failing tests. We can build the package without tests, but it would be nice if we could build it with tests in the future, since it helps catching regressions.

BTW: `du` also reports 'incorrect' (reported on-disk) sizes on such filesystems. So, if the goal is to be as close to `du` and `ncdu` as possible, it works as expected.

Maybe one solution for the tests would b

[2020-06-26 11:59] #33 closed

[2020-06-26 12:01] #48 closed

[2020-06-26 12:27] imsnif opened #54 "Bug: When deleting files or entering folders with multibyte characters, the app might crash"
The original issue was reported (along with a PR) here: https://github.com/imsnif/diskonaut/pull/51
This fixes the issue for tiles on the board (the filenames in the rectangle grid), but we would also need to fix this:

error_box
title_telescope
bottom_line

* for folders we enter and the base folder (in the title bar): src/ui/title/title_telescope.rs (I think a change here would suffice: https://

[2020-06-26 13:21] imsnif commented on #50
That was definitely a goal I had in mind, in all honesty. :) I figure people would mostly be comparing diskonaut to these utilities, and that diskonaut would have to explain itself first if it's the one doing something differently.

I think that's the best solution. I think other utilities (eg. `dust`) have an `acutal-file-size` flag that one can pass to get this behaviour.

I looked a little bit

[2020-06-26 13:27] imsnif commented on #49
I understand what you're saying. :) For sure, such a full fledged feature with the UI indication, the controls legend and everything involved will be a bit much to implement.

How about if we start with a small chunk? Let's say have a hidden feature that if you press `+`, does not render the largest file, if you press `-`, it reverses this behaviour. Of course with the usual "don't do this if ther

[2020-06-26 13:44] danieldk commented on #50
I fear I do not have that much control over the builders ;). But disabling tests until `actual-file-size` is added should work fine, we'll add a comment that reminds someone to check this in future version bumps of the Nix derivation.

[2020-06-26 16:02] imsnif opened #56 "Feature: implement `--apparent-size`"
Right now, `diskonaut` uses blocks in order to count file size. This means it counts how much space a file takes on the hard-drive, rather than how big that file is. These two can be different when (for example) the filesystem uses compression, and so the actual size taken on the hard-drive would be smaller than the file size.

Since differentiating them, while useful, is very much an edge-case -

[2020-06-26 16:05] imsnif commented on #50
Opened: https://github.com/imsnif/diskonaut/issues/56

After that is implemented, I'll do some work to make the tests run with the new flag. It will mostly involve changing fixture file sizes.

Let's leave this issue open and close it once all of this happens. Sounds okay?

[2020-06-27 14:01] c3st7n commented on #14
Raised PR for this: #57

[2020-06-28 06:06] Freaky commented on #52
Did you notice the reported sizes?  One of the last figures seen is 11.4EB - not far off overflowing a u64.

[2020-06-28 15:47] mhdmhsni commented on #32
Hey @imsnif, i want to give this one a try if you don't mind, but i have some questions beforehand:

1. Do we need some sort of countdown indicator before disappearing the message? it may be a little distracting though. but i had to share my thought.

2.  One way of implementing  such functionality can be defining a reusable `WarningBox` which takes an argument for example `warning_message`. (besi

[2020-06-29 04:01] pizzafox commented on #52
This is about 1 TB, definitely not that big. I assume Diskonaut is getting screwed up with a weird Windows FS thing.

[2020-06-29 08:39] imsnif commented on #52
Thanks for pointing it out, @Freaky. I indeed hadn't noticed.
@pizzafox - I suspect you're right and that since we're trying to read hard-disk blocks, something in the WSL is throwing us off (and causing us to report huge file sizes which are clearly incorrect... this might be what's causing the crash in the end as @Freaky pointed out). But this is of course just a guess.

I think when we implemen

[2020-06-29 08:47] imsnif commented on #32
Nah, I think it's fine to just have a "Press <ESC> to dismiss" line at the bottom of the modal.

I would eventually really love to refactor all of the modals into one modal somehow. I haven't looked too closely at it, but I think that's the "right thing to do" in the end. It doesn't have to be part of this feature though - as you wish.

Yeah, I think <ESC> would be best (but really, I think any ke

[2020-06-29 08:53] imsnif commented on #14
Merged, will be part of the next release. Thanks @c3st7n !

[2020-06-29 08:53] #14 closed

[2020-06-29 13:44] mhdmhsni commented on #32
Yes! definitely makes sense. thanks for the explanations. :) I'm gonna work on this, if you don't mind of course.

[2020-06-29 13:48] imsnif commented on #32
Of course! Let me know if you need anything.

[2020-06-29 15:28] Freaky commented on #52
I can reproduce the crash by adding 2^62 to file sizes:

[code]

Sadly backtraces are currently broken on FreeBSD, so here's one from gdb:

[code]

Really, it's not our fault if Windows is reporting weird sizes, but it is that we're overflowing.  If anything, `--apparent-size` could make this more likely, because it's a lot easier to make a file that's _apparently_ gobsmackingly massive than it is

[2020-06-29 21:10] imsnif commented on #52
I see. Using `checked_add`/`saturating_add` makes sense. Probably combined with handling an overflow with some sort of descriptive error message. Moving stuff to u128 is something I'll have to look into. Mostly the implications of the memory footprint, since we're going to have to change each tree node. I'm assigning this to myself and will take a closer look soon.

[2020-06-29 21:14] imsnif commented on #52
Actually... does it even make sense to move stuff to u128? The max value of a u64 is 18446744073709551615. That's ~18 million terabytes. Is this even relevant to storage one would want to run diskonaut on? (please do correct me if my math is wrong :) )

[2020-06-29 22:08] Freaky commented on #52
It's perfectly valid to have huge files.  I just made my diskonaut folder ~37EB:

[code]

It'd be nice to be able to Just Work, which is more than I can say for... any other du-alike I've tried.  GNU du gives up and just says `Infinity`, BSD `du` and other tools just overflow and give meaningless results.

[2020-07-01 18:50] mhdmhsni commented on #32
Hi @imsnif, unfortunately i have a hard time implementing the auto close functionality (after n seconds). The core functionality of the `WarningModal` works fine and i have to write some tests for it to be completed but I think the issue here must be something obvious that i can't simply figure it out. I tried the async/await syntax and it had no progress, Neither spawning a new thread and moving

[2020-07-03 07:39] imsnif commented on #41
Released in 0.6.0 - thanks @maxheyer !

[2020-07-03 07:40] imsnif commented on #14
Released in 0.6.0

[2020-07-04 11:36] #32 closed

[2020-07-04 11:54] imsnif commented on #1
Released in 0.7.0

[2020-07-04 11:54] #1 closed

[2020-07-04 11:55] imsnif commented on #8
Instead of this, we implemented a "press enter to get into largest folder" which is a little less confusing.

[2020-07-04 11:55] #8 closed

[2020-07-04 11:56] imsnif commented on #16
Released

[2020-07-04 11:56] #16 closed

[2020-07-04 11:57] imsnif commented on #49
Hey @therealprof, I just released an implementation of #1 in version 0.7.0. I'm going to close this issue, please let me know if you feel this is not a good enough solution, and then I'll reopen this issue and we can discuss it.

[2020-07-04 11:57] #49 closed

[2020-07-04 11:58] imsnif commented on #52
Alright. So let's try with u128 and see if it doesn't take up too big of a memory footprint. Would you like to work on this, @Freaky ?

[2020-07-04 15:02] therealprof commented on #49
Works great, I love it! Thanks so much.

[2020-07-05 02:46] Ben-PH opened #62 "Bug: Small files hidden from view"
Here is the display using `ncdu`:

[code]

here is the display in diskonaut:
[code]

I ran the numbers:

- small files take up 425984B
- target takes up 0.999639430994373 of the directory (FP errors in that)

Only going by behavior shown, I suspect the % of the directory that `target/` takes up is being rounded to a flat 100%, causing the render to exclude the other files.

[2020-07-06 11:48] therealprof commented on #41
This broke deletion on macOS in iTerm2 for me. No idea how to emulate a "Delete" key, at the very least this should probably work with BACKSPACE or DELETE.

[2020-07-06 12:28] maxheyer commented on #41
@imsnif I would also add the BACKSPACE key. Are you okay with that?

[2020-07-06 13:07] imsnif commented on #62
Yeah, that's pretty much it :/

Considering the limitations of rendering in the terminal, we can really only show an approximation of what's going on. My reasoning was that this would be good enough for the tool's main purpose (clearing up disk space).

Even if we didn't round things up, there is no physical room to render something so small in the terminal. I was originally thinking of including

[2020-07-06 13:12] imsnif commented on #41
Oi! That's not good :/ Sorry for that.

Umm... I don't know a lot about macs in this case, so maybe you can help me out, @therealprof ?
The mac keyboard does seem to have a delete key. So is it just not working in iterm, or not working in general? Or am I misunderstanding something?

As for backspace: I was told by other mac users that it's more of a "go back" sort of thing, so in diskonaut it is

[2020-07-06 13:38] maxheyer commented on #41
@imsnif I am also use macOS. Only iTerm does not know what to do when you send a DELETE event with <fn-backspace>.

[2020-07-06 13:40] therealprof commented on #41
All good questions. On my Macs (from different eras, the latest one a 2017" 15 MBP) the key is labelled via symbol pointing left and acting like a backspace key. There seem to be keyboards where this is labelled delete but still acting like a backspace key.

As of now the "backspace" key doesn't do anything at all in diskonaut.However I found out that with option and control as modifiers it acts a

[2020-07-06 13:48] maxheyer commented on #41
@imsnif To delete a file or directory in macOS' Finder, you can use < command + BACKSPACE >.

[2020-07-06 13:54] therealprof commented on #41
Yeah, but that's because any command is usually triggered with the "command" modifier.

[2020-07-06 13:58] imsnif commented on #41
Hmm... alright. Thanks for the input @therealprof and @maxheyer.
Seems to me that the most straightforward way of making this one-key cross-platform would be to use BACKSPACE. Do you two agree?

[2020-07-06 14:05] maxheyer commented on #41
👍

[2020-07-06 16:46] imsnif commented on #41
Awesome. @maxheyer, would you like to implement this?

[2020-07-06 17:43] maxheyer commented on #41
@imsnif Tonight or tomorrow

[2020-07-07 06:22] Ben-PH commented on #62
I can see how this bug could be acceptable in the context of clearing disk-space. For me, the core issue is that the information being presented is a "lie by omission", rather than "abstracting away low importance information." To illustrate, cell `x = small files` cell is revealing the presence of files, without cluttering up the information stream, and I like that. If there wasn't that cell at a

[2020-07-07 13:29] imsnif commented on #62
I think adding something like `<X> files too small to render` where the Small files legend is right now can make sense. Especially now that diskonaut has the ability to zoom and see those files.
I think having it near the current legend though might be a little confusing.

I think I'd like to see this happen after we take care of https://github.com/imsnif/diskonaut/issues/15. Then we can condition

[2020-07-08 00:34] Ben-PH commented on #62
That sounds like a sensible approach. The key thing is to show the user that diskonaut is at least _aware_ of the missing files (the ones even too small to be part of the `x = small files` group

[2020-07-09 11:22] TheLostLambda opened #65 "Bug: Runaway memory usage when run on large directories"
Hey @imsnif ! Another awesome application! Hopefully I can help out with some of those easier issues you've added to the list sometime soon!

I've run into a bit of an issue in running diskonaut on my server through: after around an hour of indexing files, diskonaut was using 22GB of RAM! This pushed a bunch of system processes to swap and brought down a couple of services I had running.

I'll hav

[2020-07-09 12:38] imsnif commented on #65
Holy cow, that's indeed not good!
I was afraid of this, but quite honestly didn't think to test it on such large volumes. Thanks for this input.

I very much agree with your diagnosis of the problem, for sure the issue is keeping everything we scanned in memory. I like your proposed direction. How about keeping a certain "radius" of the tree in memory... a depth level most users won't need to go i

[2020-07-12 12:19] imsnif commented on #56
Released in 0.9.0

[2020-07-12 12:19] #56 closed

[2020-07-12 12:20] imsnif commented on #52
Hey @pizzafox, in `0.9.0` there's an `--apparent-size` flag that shows the actual file sizes rather than counting how many blocks they take on disk. I wonder if running with this flag still causes this issue?

[2020-07-12 12:21] imsnif commented on #50
Hey @danieldk, I implemented and released `--apparent-size` in 0.9.0. I also changed the tests to use it instead of counting the blocks on disk. Would you like to check and see if this solves the issue for you?

[2020-07-12 12:22] imsnif commented on #41
This was released in 0.8.0

[2020-07-12 12:22] #41 closed

[2020-07-12 17:28] evanjs commented on #50
Yeah, I can probably take a look some time today. Thank you!

[2020-07-12 18:06] evanjs commented on #50
<details>
<summary>Test results for 0.9.0 on NixOS</summary>

[code]

</details>

<details>
<summary>Nix expression for 0.9.0</summary>

[code]

</details>

Note that there are no longer any modifications needed for the `checkPhase` (which runs tests and etc) :D

Thank you!

I'll make a PR to bump this and remove the special handling for the nix expression.

[2020-07-12 18:12] imsnif commented on #50
Awesome. If one of you would also like to make a PR to this repo with installation instructions for nix, it would be very welcome. :)

[2020-07-12 18:12] #50 closed

[2020-07-12 18:23] evanjs commented on #50
Will do, thanks again!

[2020-07-12 20:30] pizzafox commented on #52
The `--apparent-size` flag fixed the issue.

Using `v0.9.0` without the flag no longer crashes (at least, not after 45 seconds). The total size got up to 100 zettabytes before I quit the program. Perhaps Diskonaut should suggest using the `--apparent-size` flag when the size gets extraordinarily large?

[2020-07-12 20:30] #52 closed

[2020-07-12 20:33] imsnif commented on #52
Thanks @pizzafox! The not crashing is thanks to @Freaky's work, I'd say.

I think somehow suggesting using the flag is a good idea. I'll open an issue in the next few days with some thoughts.

[2020-08-14 12:11] rory opened #68 "Option to delete without confiration?"
If I want to delete a lot of files, and let's pretend I can be trusted, is there anyway to 'delete without confirmation? `ncdu` has this feature

[2020-08-19 09:24] imsnif commented on #68
Sounds like a good feature. Let's implement it as a command line flag. Let me know if you'd like to work on this and I'll remove the Help Wanted tag.

[2020-08-31 21:10] yurivict opened #69 "failure="0.1" not available, the current version is 0.1.8"
Here https://github.com/imsnif/diskonaut/blob/main/Cargo.toml#L15

See the Rust's ```failure``` crate: https://crates.io/crates/failure

[2020-08-31 21:38] imsnif commented on #69
Hey, I'm not sure I understand. Were you trying to build/run and failed, or?

[2020-08-31 21:58] yurivict commented on #69
The build can't find failure="0.1" because https://crates.io/crates/failure doesn't have it any more.

[2020-08-31 22:03] imsnif commented on #69
I think 0.1 should install anything that is semver compatible (eg. 0.1.8 too in this case). I'm not managing to reproduce this either, I'm afraid.
What I'm doing:
* cleaning the cache (in my case `rm -rf ~/.cargo/registry/cache/github.com-1ecc6299db9ec823/failure-0.1.8`)
* doing `cargo build`

I get:
[code]

[2020-08-31 22:36] yurivict commented on #69
You are right, this was some intermittent problem.

Thanks!
Yuri

[2020-08-31 22:36] #69 closed

[2020-09-01 15:07] skuzzymiglet opened #70 "An option not to cross filesystems"
Many Unix programs have the `-x` option for not crossing filesystems. Is this possible to implement for diskonaut?

[2020-09-01 15:35] imsnif commented on #70
Hey, I definitely think that would be a good feature. We're discussing it here: https://github.com/imsnif/diskonaut/issues/23, so I'm closing this one.

[2020-09-01 15:35] #70 closed

[2020-09-02 15:51] imsnif commented on #17
Done. Diskonaut can now be installed with `brew install diskonaut`

[2020-09-02 15:51] #17 closed

[2020-09-05 09:33] bjorn3 commented on #18
There is [`std::panic::set_hook`](https://doc.rust-lang.org/stable/std/panic/fn.set_hook.html). You could set a hook that exits raw mode and then calls the default hook.

[2020-09-07 14:14] imsnif commented on #68
This has been implemented and merged into main. I hope to release a new version with it shortly. Thanks @markafarrell !

[2020-09-07 14:14] #68 closed

[2020-09-07 14:23] imsnif commented on #18
That sounds like a good approach. I think it would be best to use it with the Termion methods of suspending raw mode here: https://github.com/redox-os/termion/blob/189222555ef92a29de366f96d2a067b3a920fc24/src/raw.rs#L118

[2020-09-10 15:20] mhdmhsni commented on #9
Hey @imsnif. I'm trying to implement this feature but i'm stuck exactly at the point which user should press `y` in **Are you sure you want to rescan?** modal and actually rescan the entire folder. i thought i might be able to add a new instruction and a new event to do this but unfortunately i just can't figure out how to do this exactly. Are there any specific functions that i can use? any hints

[2020-09-11 09:20] imsnif commented on #9
Hey @mhdmhsni - I'm happy to hear you're working on this.

So looking at the code, this is indeed a little tricky. The parts we need to re-run are these:
https://github.com/imsnif/diskonaut/blob/main/src/main.rs#L158-L200 => here is the actual hard disk scanning
https://github.com/imsnif/diskonaut/blob/main/src/main.rs#L204-L220 => this controls the loading animation

As you probably saw on your o

[2020-09-11 09:40] mhdmhsni commented on #9
Thank you @imsnif for the good hints. i knew about the `hd_scanner` and `loading_loop` threads. my problem was i could not figure out how to re-execute those jobs and now it's clear to me (obviously i was looking at the problem from a WRONG perspective!! :) ). i'll give this one another try if you don't mind of course, and let you know if i need any other help.

[2020-09-11 09:47] imsnif commented on #9
Sure thing! Just a recommendation: I imagine this would require quite some restructuring, so feel free to make drafts of the implementation (just hacking something together that works without worrying too much about tests/clean code, etc.) so that I can comment on them early before you've done a huge amount of work on them. :)

[2020-09-13 01:06] pm100 opened #73 "most dirs are missing"
I just did cargo install diskonaut on my rasp pi.

when I run it it only displays a few dirs , for example when i start it in the root of a cargo project only the target dir shows up, no src dir, no files.

Am I doing something wrong

pi@raspberrypi:~ $ cargo -V
cargo 1.46.0 (149022b1d 2020-07-17)
pi@raspberrypi:~ $ rustc -V
rustc 1.46.0 (04488afe3 2020-08-24)
pi@raspberrypi:~ $ uname -a
Linux ras

[2020-09-13 14:43] imsnif commented on #73
Hmm, very odd. Could it be that the other dirs are too small to render? Can you zoom in with `+` to see them?

[2020-09-13 17:00] pm100 commented on #73
aha, thats it . Observations -

- there is no way for me to know that I might need to zoom.
- There is no way for me to know that + will do zoom
- This display I get after zooming is not obvious .How am I zooming, i tried to understand but still dont get whats being selected as the zoom.
- small dirs and small files are treated entirely differently,

suggestions

- use 'x = small items' for both,

[2020-09-14 00:53] avioli commented on #65
Just a thought - would an sqlite in-memory db help offload? I have scanned a huge tree of files/dirs and the db file is ~200mb. You can store path/parent/size in three columns, add indexes and then compute dir-size based on the "parent". Or even inodes. Sorry if that's exactly what your app does.

[2020-09-14 01:32] pm100 commented on #12
what the state here. I have a rough version working with crossterm. Is this interesting or are you waiting for termion to get a working windows version

[2020-09-14 13:21] imsnif commented on #73
First, thanks very much for your observations. I feel the UX of diskonaut is very important, and would very much love to improve it where it's not up to par.

Yes, you are right in this unfortunate edge-case. :/ In most cases, you would see the Small Files area rendered on the screen. Which should give you some indication that you are able to zoom in to see more (or all) of them. Here, the small f

[2020-09-14 13:25] imsnif commented on #65
Hmm, interesting idea. I wonder how sqlite would deal with the String issue. :)
Tbh though, I feel this can be solved without introducing another dependency. Thanks for the suggestion though.

[2020-09-14 13:27] imsnif commented on #12
Very interesting! I'd be happy to move 100% to crossterm (we've recently done something similar with `bandwhich`) if it gives us windows support. Only thing is I'd like to manually test it on linux/mac first to make sure it's okay, because our tests mock the tui backend.

[2020-09-14 18:41] pm100 commented on #12
ok, this is 100% switch to crossterm, runs on my windows 10 dev box and on my rasp pi.

The tests dont even compile so I have not sent you a pull request. Put you can check it out here https://github.com/pm100/diskonaut

Let me know if you find anything broken

[2020-09-14 18:44] pm100 commented on #12
BTW - I found this project via 'this week in rust' projects looking for help.

Total rust noob.

[2020-09-14 21:04] pm100 commented on #12
tests now compile. they all fail, I dont know how they work so not sure how to fix. You seem to be testing to see what draw commands are issued, hers the failure on the first test i drilled into

[code]
I wonder if this is just a difference of how tui drives the backend, not sure.

[2020-09-14 23:33] pm100 commented on #65
or use an on disk sqlite DB, I dont see that the in memory one helps, simply swapping one form of memory storage for another. On disk sqlite gives you ultra fast access with seemless spill onto disk.

[2020-09-15 00:21] avioli commented on #65
@pm100 an on-disk dependency means the app will require to deal with DB versions and migrations and what not. My suggestion was to help with using a battle-tested piece of software that has very efficient data structure for storage and querying (as long as it is configured and used correctly).

@imsnif what String issue? The multibyte characters (#54)?

[2020-09-15 00:28] pm100 commented on #65
I will make a on disk sqlite version for kicks, I know sqlite v well.

[2020-09-15 03:56] avioli commented on #65
@pm100 Feel free to fork this repo and do whatever you feel is best.

[2020-09-15 13:34] imsnif commented on #65
Ah no, sorry. I was meaning what OP mentioned, where this issue likely is coming from.
What (we assume) the issue here is, is that the string names from all the files are kept in memory and for extremely large volumes (which I believe OP was talking about) this can take up quite some memory.
We may be able to solve this with sqlite. But it will surely need to solve this problem as well (same memor

[2020-09-15 13:43] imsnif commented on #12
Hey @pm100, I took a brief look at the repo and it looks like a great start! I haven't yet tested this locally though, and if you'd like to move forward with this I'll definitely take a closer look.

About the tests: it definitely might be. I wouldn't worry too much about these (you can even comment them out for now) and would more try to concentrate on the snapshots. These are snapshots taken of

[2020-09-22 22:11] #73 closed

[2020-09-22 22:11] pm100 commented on #73
i get what was happeining now

[2020-09-23 21:01] imsnif commented on #12
Released in 0.11.0, thanks @pm100 !!

[2020-09-23 21:01] #12 closed

[2020-10-02 15:25] pjsier commented on #15
@imsnif I'm interested in taking this on. From a quick look I'm thinking about adding `hide_small_files_legend` bool field to `BottomLine` and setting it based on whether `unrenderable_tile_coordinates` on `Board` is `None` similar to how `hide_delete` is working. Then we could avoid subtracting the small files length from the output line if it isn't needed. Let me know if I'm missing anything, th

[2020-10-02 16:03] imsnif commented on #15
Cool - sounds like a good direction. There is an edge case described in more detail here: https://github.com/imsnif/diskonaut/issues/62, but that's probably out of scope for this issue.

[2020-10-15 13:28] #15 closed

[2020-12-23 15:07] avinassh opened #80 "Feature Request: Give an option to exclude directory"
- Sometimes I don't want to index the external HDDs I have connected
- Sometimes I want to index some files which match some pattern

[2021-01-09 14:53] freddii opened #81 "offer prebuild deb files in a ppa"
It would be useful to have prebuild deb packages in a ppa at https://launchpad.net .
So people can install it with getting updates and without having to compile it themself.

[2021-01-10 19:04] ignatenkobrain opened #82 "Update jwalk dependency to 0.6"
Would help a lot in packaging diskonaut, thanks!

[2021-04-20 11:04] 0x5c commented on #62
I just now discovered this tool, and I really like it.
But after 30 seconds of testing, I was looking for a button/key/option/etc to switch to a view that has the small files.
Maybe that could be a potential solution for this problem? Could the view be made to scroll up/down to reveal the rest of the files?

[2021-04-21 22:16] 0x5c commented on #62
Oh wow, found #73 and it makes sense now

The zoom works perfectly fine once one realises it's there (I think the suggestion in the other issue to have the message flash is great)

One potential solution to make the presence of small files more obvious is to have a fake-size box that says "there are small directories" even if its size would be exaggerated. One way of doing it would be to have it o

[2021-04-21 22:42] 0x5c commented on #62
Similar idea to the above, here's how [Nodescope](http://karlhendrikse.co.nz/projects.htm) does it

![image](https://user-images.githubusercontent.com/5877043/115629869-1e96dc80-a2d1-11eb-943f-27994f687819.png)

The overall presentation is different, but the idea of an minimal size element for all files two small to be shown is the same.

[2021-05-26 20:14] skuzzymiglet commented on #23
@imsnif just checking, would it be worth my time giving this a shot?

[2021-05-27 17:25] imsnif commented on #23
Hey  @skuzzymiglet - my apologies but I don't have a whole lot of time for diskonaut these days. I hope to get back here and do some upkeeping in the near future, but I can't promise when. So I wouldn't want you to waste your time :/

[2022-03-15 15:46] stacyharper opened #85 "aarch64 and armhf doest pass tests ?"
Hey there,

I'm packaging diskonaut for Alpine Linux but it seems tests fails for those two architectures.

https://gitlab.alpinelinux.org/StacyHarper/aports/-/pipelines/114814

Is it known ?

edit: and it seems that armv7 can also fail o_O https://gitlab.alpinelinux.org/StacyHarper/aports/-/pipelines/114819

[2022-04-02 10:21] David-Valters opened #86 "The folder takes up too much space (7091231513.3G)"
The folder takes up too much space (7091231513.3G)
in fact, the folder takes up 659 KB
OS: Ubuntu 20.04.4 LTS on Windows 10 x86_64
 Shell: bash 5.0.17
![зображення](https://user-images.githubusercontent.com/46930139/161378652-57ed67ae-a66e-4b1a-92a6-ba50d950cc5f.png)
![зображення](https://user-images.githubusercontent.com/46930139/161378713-b39b5e66-d4bc-4251-a895-4b539ecb34b4.png)

[2022-04-17 19:00] kevin-stuart commented on #6
Maybe a mode that does not delete at all wout be the smartest thing, diskonaut then only only counts the size in the session, and exiting it outputs the list of files. This could then be piped into another script that does deletion or other things like moving/archiving.

[2022-08-15 22:56] alanbernstein commented on #80
- I want to scan my home directory, but that includes a virtual filesystem which only physically consumes a few GB, but appears to be larger than my hard drive, and takes tens of minutes to scan.

[2022-09-10 11:47] ForeverNooob opened #89 "Feature Request: Ability to not cross filesystem boundaries."
Hi,

Currently (`v0.11.0`) when you have mounted (remote) filesystems, `diskonaut` is also accounting them in its scan.

I would love to see a flag like `-xdev` in the (GNU) `find` command or `-x` in the `ncdu` command which tells `diskonaut` to ignore all directories that are other filesystem mounts.

Thanks in advance for your consideration.

[2022-09-11 19:15] nova446 commented on #86
is it showing the size of the folder as that when it is actually less than that

[2022-09-16 13:37] David-Valters commented on #86
I deleted Windows, so unfortunately I can't reproduce the bug

[2022-09-16 13:37] #86 closed, assigned to nobody

[2022-09-21 11:13] vctls commented on #89
@ForeverNooob Isn't this the same as #23 ?

[2022-09-21 11:17] ForeverNooob commented on #89
@vctls I have no idea how I missed that, sorry!

[2022-09-21 11:17] #89 closed, assigned to nobody